<a href="https://colab.research.google.com/github/manikantar585-lgtm/ML-23AG1A66F9/blob/main/Data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**importing dataset**

In [ ]:
import pandas as pd
data=pd.read_csv('/content/Name_Age_Gender_Marks_City - Sheet1.csv')
data.head()

      Name   Age Gender  Marks      City
0     Mani  21.0      M   85.0       HYD
1     Ajay   NaN      M   92.0   Lon Don
2    megii  18.0      F   72.0       NaN
3    David  17.0      F    NaN   Lon don
4  Hemanth  23.0    NaN   64.0  New york

In [ ]:
data.fillna({
    'Age':data['Age'].mean(),
    'Marks':data['Marks'].mean(),
    'City':'Unknown'
},inplace=True)
print(data)

      Name    Age Gender  Marks      City
0     Mani  21.00      M  85.00       HYD
1     Ajay  19.75      M  92.00   Lon Don
2    megii  18.00      F  72.00   Unknown
3    David  17.00      F  78.25   Lon don
4  Hemanth  23.00    NaN  64.00  New york

In [ ]:
import pandas as pd
# create example data including duplicates
data ={
    'Name': ['Mani', 'ajay', 'Mani'],
    'Age': [18, 18, 18],
    'Gender': ['M','M','M'],
    'Marks': [85,92,85]
}
df=pd.DataFrame(data)
print("original data:")
print(df)
#Remove duplicates across all colums
df_no_duplicates=df.drop_duplicates()
print("\nAfter removing duplicates:")
print(df_no_duplicates)

original data:
   Name  Age Gender  Marks
0  Mani   18      M     85
1  ajay   18      M     92
2  Mani   18      M     85

After removing duplicates:
   Name  Age Gender  Marks
0  Mani   18      M     85
1  ajay   18      M     92

CHECK DATA TYPE

In [ ]:
import pandas as pd
df=pd.DataFrame({
    'Name':['Mani','ajay'],
    'Age':['18','18'],
    'salary':['500000','600000']
})
print(df.dtypes)

Name      object
Age       object
salary    object
dtype: object

COONVERTING SPECIFIC DATATYPE

In [ ]:
df['Age']=df['Age'].astype(int)
df['salary']=df['salary'].astype(float)
print(df.dtypes)

Name       object
Age         int64
salary    float64
dtype: object

In [ ]:
df['Age']=pd.to_numeric(df['Age'], errors='coerce')
print(df.dtypes)

Name       object
Age         int64
salary    float64
dtype: object

Encoding Categorical Data

In [ ]:
import pandas as pd
data=pd.read_csv('/content/Name_Age_Gender_Marks_City - Sheet1.csv')
data.head()
data['Gender']=data['Gender'].map({'F':0,'M':1})
print(data)

      Name   Age  Gender  Marks      City
0     Mani  21.0     1.0   85.0       HYD
1     Ajay   NaN     1.0   92.0   Lon Don
2    megii  18.0     0.0   72.0       NaN
3    David  17.0     0.0    NaN   Lon don
4  Hemanth  23.0     NaN   64.0  New york

One-hot enoding

In [ ]:
fromdata=pd.get_dummies(data,columns=['City'])
print(data)

      Name   Age  Gender  Marks  City_ Lon Don  City_HYD  City_Lon don  \
0     Mani  21.0     1.0   85.0          False      True         False
1     Ajay   NaN     1.0   92.0           True     False         False
2    megii  18.0     0.0   72.0          False     False         False
3    David  17.0     0.0    NaN          False     False          True
4  Hemanth  23.0     NaN   64.0          False     False         False

   City_New york
0          False
1          False
2          False
3          False
4           True

**Featue scaling**

In [23]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
data['Marks']=scaler.fit_transform(data[['Marks']])
print(data)

      Name   Age  Gender     Marks  City_ Lon Don  City_HYD  City_Lon don  \
0     Mani  21.0     1.0  0.750000          False      True         False
1     Ajay   NaN     1.0  1.000000           True     False         False
2    megii  18.0     0.0  0.285714          False     False         False
3    David  17.0     0.0       NaN          False     False          True
4  Hemanth  23.0     NaN  0.000000          False     False         False

   City_New york
0          False
1          False
2          False
3          False
4           True

**new feture**

In [25]:
import pandas as pd
data={
  'Name':['Mani','ajay'],
  'Age':[18,18],
  'Gender':['M','M'],
  'Marks':[85,92]
}
df=pd.DataFrame(data)
print(df)

   Name  Age Gender  Marks
0  Mani   18      M     85
1  ajay   18      M     92

**new feture ;Grade(based on marks)**

In [28]:
def grade(marks):
    if marks >=85:
        return'A'6
    elif marks>=70:
        return'B'
    else:
        return'c'
df['Grade']=df['Marks'].apply(grade)
print(df)

   Name  Age Gender  Marks Grade
0  Mani   18      M     85     A
1  ajay   18      M     92     A

New feature:Age group(from Age)

In [29]:
bins=[0,18,21,100]
lables=['Teen','Young Adult','Adult']
df['Age Group']=pd.cut(df['Age'],bins=bins,labels=lables)
print(df)

   Name  Age Gender  Marks Grade Age Group
0  Mani   18      M     85     A      Teen
1  ajay   18      M     92     A      Teen

**removing outliers**

In [31]:
data=pd.read_csv('/content/Name_Age_Gender_Marks_City - Sheet1.csv')
data[(data['Marks'] >=60)&(data['Marks'] <=100)]
print(data)

      Name   Age Gender  Marks      City
0     Mani  21.0      M   85.0       HYD
1     Ajay   NaN      M   92.0   Lon Don
2    megii  18.0      F   72.0       NaN
3    David  17.0      F    NaN   Lon don
4  Hemanth  23.0    NaN   64.0  New york

**splitting Data for trainging and Testing**

In [33]:
from sklearn.model_selection import train_test_split
train,test=train_test_split(data,test_size=0.2)
print("Train Data:\n",train)
print("Test Data:\n",test)

Train Data:
       Name   Age Gender  Marks      City
2    megii  18.0      F   72.0       NaN
0     Mani  21.0      M   85.0       HYD
3    David  17.0      F    NaN   Lon don
4  Hemanth  23.0    NaN   64.0  New york
Test Data:
    Name  Age Gender  Marks      City
1  Ajay  NaN      M   92.0   Lon Don